01.TKBR_WMS/bin/
.vs/
01.TKBR_WMS/obj/
09.TKBR_SV/bin/
09.TKBR_SV/obj/
50.TKBR_Lib/bin/
50.TKBR_Lib/obj/
60.ServerSystemLib/bin/
60.ServerSystemLib/obj/
80.DBLib/bin/
80.DBLib/obj/
90.CtrlLib/bin/
90.CtrlLib/obj/
99.SmtLib/bin/
99.SmtLib/obj/
packages/
02.TKBR_TB/bin/
02.TKBR_TB/obj/
