<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <log4net>
    <appender name="SQLLogAppender" type="log4net.Appender.RollingFileAppender">
      <!--  -->
      <param name="File" value="HT_SV_Logs\\SQL.log" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="false" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- <param name="LevelMax" value="FATAL" /> -->
        <param name="LevelMax" value="DEBUG" />
      </filter>
      <param name="MaximumFileSize" value="100MB" />
      <param name="MaxSizeRollBackups" value="20" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy'/'MM'/'dd' 'HH':'mm':'ss'.'fff} %level %message%newline" />
      </layout>
    </appender>
    <!-- エラーログ：分割ファイル出力 -->
    <appender name="ErrorLogDailyAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名は日付ごと -->
      <param name="File" value="HT_SV_Logs\\Error.log" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="false" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="FATAL" />
        <param name="LevelMin" value="ERROR" />
      </filter>
      <param name="MaximumFileSize" value="100MB" />
      <param name="MaxSizeRollBackups" value="2147483647" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %file(%line) %class %method - %message%n" />
      </layout>
    </appender>
    <!-- デバッグ用：分割ファイル出力 -->
    <appender name="DebugLogDailyAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名は日付ごと -->
      <appendToFile value="true" />
      <datePattern value="'Debug-'yyyy'-'MM'-'dd'.log'" />
      <file value="HT_SV_Logs\" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- <param name="LevelMax" value="FATAL" /> -->
        <param name="LevelMin" value="Debug" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{H':'mm':'ss'.'fff} %level %message%newline" />
      </layout>
      <rollingStyle value="date" />
      <staticLogFileName value="false" />
    </appender>
    <logger name="SQLLogger">
      <appender-ref ref="SQLLogAppender" />
    </logger>
    <logger name="LogLogger">
      <appender-ref ref="ErrorLogDailyAppender" />
      <appender-ref ref="DebugLogDailyAppender" />
    </logger>
    <root>
      <level value="ALL" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
